@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Qwigley&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base: #ffd8e4;
  --color-focus: #fff2f6;
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
  --font-title: 'Qwigley', cursive;
  --font-text: 'Lato', sans-serif;
  --text-title: 2rem;
  --text-body: 1rem;

  --aspect-a4: 1 / 1.414;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, cursive;
}
body {
  background-image: url(/background.jpg);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* label { */
/*   font-family: var(--font-text); */
/*   font-size: var(--text-size); */
/*   font-weight: 600; */
/* } */
